@import "src/app/app.component";

.top-container{
  width: 100%;
  height: calc(80vh - 70px);
  background-image: url('/assets/images/cover.jpg');
  background-attachment: fixed;
  background-size: cover;
  .overlay{
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    .text-container{
      max-width: 50%;
      color: white;
      padding: 2%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      height: 100%;
      button{
        width: fit-content;
        background-color: $primary_color;
      }
    }
  }
}
