<div class="top-container">
    <div class="column">
      <p>Built using Angular</p>
      <p>Github public repo: https://github.com/anasschbani20/ecomproject.git</p>
      <p><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;Author: Anass chbani Senior front-end developer</p>
      <p><i class="fa fa-whatsapp" aria-hidden="true"></i> &nbsp;&nbsp;Gmail: chbanianass20@gmail.com</p>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;&nbsp;Whatsapp: (+212)630931997</p>
    </div>
    <div class="column">
      copyrigth 2020 all rights reserved
    </div>
</div>
