.top-container{
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    h1{
      text-align: center;
      padding: 20px 0;
    }
    button{
      background-color: rgba(0, 128, 0, 0.66);
    }
  }
  .cards{
    .card{
      height: 300px;
      position: relative;
      cursor: pointer;
      margin-bottom: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .overlay{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .text{
          font-size: 14px;
        }
      }
      .footer-btns{
        display: flex;
        justify-content: flex-end;
        visibility: hidden;
      }
      &:hover{
        background-size: 650px;
        transition: 1s ease background-size;
        transition-delay: 1s;
        .footer-btns{
          visibility: visible;
        }
      }
    }
  }
}
